.content::before{
    content: "\f002"; 
}

nav{
    height: 4rem;
}
.nav_fix{
    padding-top: 6rem !important;
}

.vertical{
    width: 8rem;
    height: calc(100vh - 4rem);
    color: white;
    margin-top: 4rem;
}

.ml_vertical{
    margin-left: 8rem;
}
.pl_vertical{
    padding-left: 9rem;
}

.breadcrumb-item+.breadcrumb-item::before{
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(calc(-50%));
}

.button_bread{
    font-size: 1rem;
    padding: 1px;
}

button a{
    font-size: 1rem !important;
}

.class_avatar{
    width: 25px;
}

.w_95{
    width: 95%;
}

.fs_p8{
    font-size: 0.8rem !important;
}

.sfondo{
    background-image: url(../img/sidebar-bg.png);
}

button.border.border-dark.btn.btn-light.rounded.p-1 i{
    width: 1.4rem;
    height: 1.4rem;
    text-align: center !important;
}

/* La part della faq non so perché ma ha i bordi in basso rotti */